<label>Server Name</label>
<!--<input 
    type="text" 
    class="form-control"
    (input)="onUpdateServerName($event)">-->

<!--Two-Way-Databinding-->
<input 
    type="text" 
    class="form-control"
    [(ngModel)]="serverName">
<!--<p>{{serverName}}</p>-->
<button 
    class="btn btn-primary"
    [disabled]="!allowNewServer"
    (click)="onCreateServer()">Add Server</button> <!-->Maneira de fazer o property binding e o event binding</-->
<!--<p>{{ allowNewServer }}</p>--> <!-->String Interpolation</!-->
<!--<p>{{ serverCreationStatus }}</p>-->
<!--A estrela é usada porque a diretiva muda a estrutura do DOM-->
<p *ngIf="serverCreated">Server was created, server name is {{serverName}}</p>
<app-server></app-server>
<app-server></app-server>
